#container {
  padding: 60px 0; }
  #container .app {
    display: grid;
    grid-template-columns: 333px 1fr;
    gap: 50px; }
    #container .app .app__side .profile {
      padding: 50px 40px;
      background: #eeecf4;
      box-shadow: 8px 8px 16px #d6d4de, -8px -8px 16px #ffffff;
      border-radius: 50px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px; }
      #container .app .app__side .profile .profile__ttl {
        font-size: 3.6rem;
        font-weight: 300;
        font-family: "roboto", "Noto Sans JP", serif; }
      #container .app .app__side .profile .profile__img {
        border-radius: 50%;
        width: 90%;
        height: auto;
        aspect-ratio: 1/1;
        margin: 0 auto;
        overflow: hidden; }
      #container .app .app__side .profile .img {
        width: 100%;
        height: 100%;
        position: relative; }
        #container .app .app__side .profile .img::before {
          content: "";
          width: 100%;
          height: 100%;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0;
          background: #eeecf4;
          box-shadow: inset 8px 8px 16px #d6d4de, inset -8px -8px 16px #ffffff;
          background: none;
          mix-blend-mode: multiply; }
        #container .app .app__side .profile .img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      #container .app .app__side .profile .profile__info .name {
        font-size: 2.2rem;
        font-weight: 500;
        margin-bottom: 10px;
        text-align: center; }
      #container .app .app__side .profile .profile__info .birth {
        font-size: 1.4rem;
        color: #5b5b5b;
        margin-bottom: 20px;
        text-align: center; }
      #container .app .app__side .profile .profile__info .meta {
        font-size: 1.6rem;
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 10px 0; }
        #container .app .app__side .profile .profile__info .meta .dt {
          position: relative; }
          #container .app .app__side .profile .profile__info .meta .dt::after {
            content: ":";
            padding: 0 0.5em;
            position: absolute;
            right: 0; }
    #container .app .app__main .switch {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px; }
      #container .app .app__main .switch li {
        width: 32%; }
    #container .app .app__main .dashboard {
      width: 100%; }
      #container .app .app__main .dashboard .dashboard-content .dashboard-content__item {
        background: #eeecf4;
        box-shadow: inset 8px 8px 16px #d6d4de, inset -8px -8px 16px #ffffff;
        border-radius: 50px;
        padding: 50px 40px; }
        #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .dashboard-content__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px; }
          #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .dashboard-content__header .dashboard__title {
            font-size: 3rem;
            font-weight: 500; }
          #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .dashboard-content__header .year-select {
            position: relative;
            width: 200px;
            height: 58px; }
            #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .dashboard-content__header .year-select select {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 10px;
              appearance: none;
              background: #eeecf4;
              box-shadow: 8px 8px 16px #d6d4de, -8px -8px 16px #ffffff;
              border: none;
              font-size: 2rem;
              padding: 0 1em; }
            #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .dashboard-content__header .year-select::after {
              content: "";
              position: absolute;
              right: 15px;
              top: 50%;
              transform: translateY(-50%);
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 8px solid #555;
              pointer-events: none; }
        #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .skill-metrics {
          display: flex;
          justify-content: space-between; }
          #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .skill-metrics .skill-metrics__item {
            text-align: center;
            width: 200px;
            height: auto;
            aspect-ratio: 1/1;
            background: url(../img/graph-img01.svg) no-repeat center/100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            filter: drop-shadow(8px 8px 16px #d6d4de) drop-shadow(-8px -8px 16px #ffffff); }
            #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .skill-metrics .skill-metrics__item .label {
              font-size: 1.4rem; }
            #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .skill-metrics .skill-metrics__item .num {
              font-size: 6rem;
              line-height: 1;
              font-family: "roboto", "Noto Sans JP", serif; }
        #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .annual-metrics .metrics__list {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1em; }
          #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .annual-metrics .metrics__list .metric__item {
            display: grid;
            grid-template-columns: 150px 1fr;
            align-items: center;
            font-size: 1.6rem; }
            #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .annual-metrics .metrics__list .metric__item .label {
              font-weight: 500;
              position: relative; }
              #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .annual-metrics .metrics__list .metric__item .label::before {
                content: ":";
                padding: 0 0.5em;
                position: absolute;
                right: 0; }
        #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .operation__average {
          background: #eeecf4;
          box-shadow: 8px 8px 16px #d6d4de, -8px -8px 16px #ffffff;
          border-radius: 10px;
          margin-bottom: 30px;
          padding: 25px 20px; }
          #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .operation__average .ttl {
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 1em; }
          #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .operation__average dl {
            display: grid;
            grid-template-columns: auto 1fr auto 1fr;
            font-size: 1.6rem;
            gap: 1em; }
            #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .operation__average dl dt {
              font-weight: bold;
              position: relative;
              padding: 0 0.5em; }
              #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .operation__average dl dt::after {
                content: ":";
                position: absolute;
                right: -0.5em; }
        #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .operation__table {
          width: 100%;
          border-collapse: collapse; }
          #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .operation__table thead {
            box-shadow: 3px 3px 6px #d6d4de, -3px -3px 6px #ffffff;
            border-radius: 5px; }
          #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .operation__table tbody tr {
            border-bottom: 1px solid #d6d4de; }
          #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .operation__table th, #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .operation__table td {
            padding: 12px 5px;
            text-align: center; }
          #container .app .app__main .dashboard .dashboard-content .dashboard-content__item .operation__table th {
            font-weight: 500; }

/*# sourceMappingURL=contents.css.map */
