@charset "UTF-8";

@keyframes huwahuwa01 {
    0% {
      transform: translate(0, 0) ;
    }
    25% {
      transform: translate(-5px, -10px);
    }
    50% {
      transform: translate(5px, 10px);
    }
    75% {
      transform: translate(15px, -20px);
    }
    100% {
      transform: translate(0, 0) ;
    }
  }

.ani-huwahuwa01{
	animation: huwahuwa01 20s infinite ease-in-out;
}

.ani-typing{
	width: fit-content;
	height: 1em;
	margin-inline: auto;
	overflow: hidden;
	white-space: nowrap;
	border-right: 2px solid transparent;
	animation: blink-caret 1s step-end infinite;
}
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: inherit; }
}

.ani-typing-after {
	&::after{
		width: 0; 
		transition: width 0.5s ease; 
	}
	.sub{
		clip-path: inset(48% 45% 48% 45%);
		color: transparent !important;
		transition: clip-path 0.5s ease,color 0.3s 0.5s; 
	}
	&.active{
		&::after{
			width: 51px;
			@include sp {
				width: vw(51);
			}
		}
		.sub{
			clip-path: inset(0% 0% 0% 0%);
			color: #fff !important;
		}
	}
}

.ani-scale01{
	display: inline-block;
}