@charset "UTF-8";

// 共通
/*-----------------------------------------*/
.only-pc {
	display: block;
	@include tab {
		display: none;
	}
}

.only-sp {
	display: none;
	@include sp {
		display: block;
	}
}


.t-center{
	text-align: center;
}

.sp-t-left{
	@include sp {
		text-align: left;
	}
}

.f-roboto{
	font-family: 'Roboto', sans-serif;
}

.t-bold {
  font-weight: bold;
}
.t-500 {
  font-weight: 500;
}

.t-normal {
	font-weight: normal;
}

.cl-blu {
	color: $base_blue;        
}

.cl-org {
	color: $base_orange;        
}
.cl-red {
	color: $base_red;        
}

.cl-wht{
	color: #fff;
}

.bg-lbl01{
	background-color: #f3f6fa;
}

.bg-blu-kumo01{
	background: url(../img/contents/bg/bg_blu_kumo01.svg) no-repeat left calc(50% + 300px)  bottom/900px, $base_blue;
	position: relative;
	@include sp {
		background: url(../img/contents/bg/bg_blu_kumo01_sp.svg) no-repeat bottom /100%,  $base_blue;
	}
	&::before{
		content: "";
		width: 30vw;
		height: 358px;
		background-color: #1456a1;
		position: absolute;
		bottom: 0;
		left: calc(50% + 748px);
		@include sp {
			content: none;
		}
	}
}

.bg-illust01{
	background: url(../img/contents/bg/bg_img02.svg) no-repeat top 35px left calc(50% - 900px)/ auto 295px, url(../img/contents/bg/bg_img02.svg) no-repeat top 200px right calc(50% - 900px) /auto 295px;
	@include sp {
	  background: none;
	}
  }
  
  .bg-illust02{
	background: url(../img/contents/bg/bg_img01.svg) no-repeat top 65px left calc(50% - 990px)/ auto 324px, url(../img/contents/bg/bg_img01_rotate.svg) no-repeat bottom right calc(50% - 990px) /auto 324px;
	&.bg-t-non{
	  background: url(../img/contents/bg/bg_img01_rotate.svg) no-repeat bottom right calc(50% - 990px) /auto 324px;
	  @include sp {
		background: none;
	  }
	}
	&.bg-b-non{
	  background: url(../img/contents/bg/bg_img01.svg) no-repeat top 65px left calc(50% - 990px)/ auto 324px;
	  @include sp {
		background: none;
	  }
	}
	@include sp {
	  background: none;
	}
  }
  
  .bg-illust03{
	background: url(../img/contents/bg/bg_img01.svg) no-repeat bottom 150px right calc(50% + 950px) /auto 324px;
	@include sp {
	  background: none;
	}
  }
  
  .bg-illust04{
	background: url(../img/contents/bg/bg_img01.svg) no-repeat bottom left calc(50% - 1140px)/ auto 324px;
	@include sp {
	  background: none;
	}
  }

//コンテンツ幅
.wrap{
	width: $pc;
	max-width: 100%;
	margin: 0 auto;
	@include sp {
		padding: 0 vw(30);
	}
	&.w1200{
		width: 1200px;
		max-width: 100%;
	}
	&.w1100{
		width: 1100px;
		max-width: 100%;
	}
	&.w1000{
		width: 1000px;
		max-width: 100%;
	}
	&.w960{
		width: 960px;
		max-width: 100%;
	}
	&.w900{
		width: 900px;
		max-width: 100%;
	}
	&.w880{
		width: 880px;
		max-width: 100%;
	}
	&.w800{
		width: 800px;
		max-width: 100%;
	}
	&.w865{
		width: 865px;
		max-width: 100%;
	}
	&.w700{
		width: 700px;
		max-width: 100%;
	}
	&.w650{
		width: 650px;
		max-width: 100%;
	}
	&.w600{
		width: 600px;
		max-width: 100%;
	}
}


//for mtのクラス
@for $i from 1 through 20 {
	.mt#{$i}0 {
		margin-top: 10px * $i;
		@include sp {
			margin-top: vw(10 * $i);
		}
	}
}
//for mbクラス
@for $i from 1 through 20 {
	.mb#{$i}0 {
		margin-bottom: 10px * $i;
		@include sp {
			margin-bottom: vw(10 * $i);
		}
	}
}

//for sp-mtのクラス
@for $i from 1 through 20 {
	.sp-mt#{$i}0 {
		@include sp {
			margin-top: vw(10 * $i);
		}
	}
}
//for sp-mbクラス
@for $i from 1 through 20 {
	.sp-mb#{$i}0 {
		@include sp {
			margin-bottom: vw(10 * $i);
		}
	}
}

//for fsのクラス
@for $i from 10 through 50 {
	.fs#{$i} {
		font-size: $i+px;
		@include sp {
			font-size: vw(2 * $i);
		}
	}
}

//for sp-fsのクラス
@for $i from 10 through 50 {
	.sp-fs#{$i} {
		@include sp {
			font-size: vw($i*2);
		}
	}
}

.p-base{
	padding: 50px 0 100px;
    @include sp {
      padding: vw(50) 0 vw(100);
    }
}

// テンプレート
/*-----------------------------------------*/



//横並び
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}